click==7.1.1
Flask==1.1.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.17.2
opencv-python==3.4.3.18
pandas==1.0.2
picamera==1.13
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
update==0.4.4
Werkzeug==1.0.0
